*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    font-size: 13px;

}

body{
    height: 4000px
}
header{
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;
}
nav{
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

div.upbarleft{
display: flex;
gap: 30px;
padding:20px;
align-items: center;

}

figure{
    display: flex;
}

.logo{
    height: 20px;
}

ul{
    display: flex;
    text-transform: capitalize;
    list-style-type: none;
    gap: 30px;
}

li{
    display: flex;
    align-items: center;

}

button{
    height: 25px;
    width: 50px ;
    background-color:#0061ff ;
    color: white;
    border: none;
}

li button{
    width: 60px;
    height: 30px;
}

div.upbarright{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

section.a{
    position: relative;
    width: 100%;
    height: 650px;
    background-color:#b4d0e7 ;
}

div.maintitle{
    display: flex;
    justify-content: center;
    padding-left: 300px;
    padding-right: 350px;
    padding-top: 80px ;
}

div.maintitle h1{
    font-size: 65px;
    font-family: 'Khula', sans-serif;
    font-weight: 900;
    line-height: 130%;
    margin-top: 50px;
}

div.downtitle{
    padding-left: 300px;
    padding-right: 350px;
    padding-top: 20px ;
    width: 62%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

div.downtitle p{
    font-size: 14px;
    line-height: 140%;
    opacity: 0.8;
}

button{
    width: 60%;
    height: 35px;
}

span{
    display: inline-block;
}

div.downtitle svg{
    height: 40px;
    margin-top: 50px;
}

figure.jumbo{
position: absolute;
height: 400px;
top: 50%;
left: 40%;
}

section.b{
    width: 100%;
    padding-top: 130px;
    padding-left: 370px;
}

h2{
    font-size: 35px;
}


div.businessplans{
    margin-top: 50px;
    padding-left: 5px;
}

div.input{
    display: flex;
    align-items: center;
}

input{
 transform: scale(1.5);
 margin: 5px;
}

.input span{
margin-right: 50px;
}

div.choices{
    margin-top: 40px;
    width: 20%

}

div.userskind{
    border: rgba(128, 128, 128, 0.5) solid 1px;
    border-bottom: none;
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center;

}

div.boxtypology{
}

div.typology{
    border: rgba(128, 128, 128, 0.5) solid 1px;

    height: 700px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-left:20px ;

}

svg{
    margin-right: 5px;
}


h3{
    padding-top: 30px;
    font-size: 18px;
    margin-bottom: 8px;
}

div.boxdetails{
   padding-top: 20px;

}

div.details{
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.det{
    font-size: 12px;
    padding-right: 20px;
}

div.trial{
  margin-left: 5px ;
  margin-right: 25px;
  margin-top: 30px;
}

.trial button{
    width: 100%;
    height: 30px;
}

.or{
    margin-block: 25px ;
}

.acquista{
    color: #0061ff;
}

hr{
    width: 20%;
    margin-left: 5px ;
    margin-bottom: 40px;
}

.check{
    fill: #0061ff;
}

.resume{
    padding-bottom: 30px;
}

div.tails{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

div.flexcontainer{
    display: flex;
    width: 100%;
    gap: 40px;

}

div.orizontalboxup{
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgba(128, 128, 128, 0.5) solid 1px;
    border-bottom: none;
    width: 67%;
    height: 30px;
    margin-top: 40px;
}

div.orizontalboxdown{
    display: flex;

    border: rgba(128, 128, 128, 0.5) solid 1px;
    width: 67%;
    height: 200px;
}

.team{
    font-size: 12px;
    display: flex;
    align-items: center;
}

.team svg{
    scale: 1;
}

.boxdown{

width: 70%;
padding-left: 20px;
}

.contatta{
    margin-top: 10px;
}

.boxdown p{
font-size: 12px;
margin-top: 40px;
}

div.ufficio{
    display: flex;
    justify-content: center;
    width: 30%;
    padding-top: 30px;
    }

.ufficio button{
        width: 80%;
        height: 30px;
}

div.footsectionb{
    margin-right: 380px;
    display: flex;
    justify-content: flex-start;
}

.partner img{
    width: 440px;
    margin-block: 120px;
}

div.rightwritings{
    padding-top: 130px;
    padding-left: 50px;
    padding-right: 47px;
}

div.rightwritings p{
    margin-top: 20px;
   

}

button.trova{
    background-color: white;
    color: black;
    border: black 1px solid;
    margin-top: 30px;
    
}

section.c{
    width: 100%;
}

div.operationtitle{
    padding-left: 370px;
}

div.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 51%;
    margin: 0 auto;
    margin-top: 80px;
    row-gap: 50px;
}

div.singlecard{
    width: 30%;
}

figure.imgcards img{
    width: 100%;
    display: block;
    position: static;
}

div.cardsdown{
    width:100% ;  
}

div.cardsdown h3{
    padding-top: 20px;
}

div.cardsdown p{
    padding-top: 20px;
}

div.scopri{
    width: 50%;
    margin-left: 370px;
    margin-top: 200px;
}

div.scopri span{
    margin-top: 50px;
    color: #0061ff;
    text-decoration: underline;
}




    











