*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    font-size: 13px;    
}

header{
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;
}
nav{
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

div.upbarleft{
display: flex;
gap: 30px;
padding-inline:20px;
align-items: center;

}

figure{
    display: flex;
}

.logo{
    height: 20px;
}

ul{
    display: flex;
    text-transform: capitalize;
    list-style-type: none;
    gap: 30px;
}

li{
    display: flex;
    align-items: center;

}

button{
    height: 25px;
    width: 50px ;
    background-color:#0061ff ;
    color: white;
    border: none;
}

li button{
    width: 60px;
    height: 30px;
}

div.upbarright{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

section.a{
    position: relative;
    width: 100%;
    height: 650px;
    background-color:#b4d0e7 ;
}

div.maintitle{
    display: flex;
    justify-content: center;
    padding-left: 300px;
    padding-right: 350px;
    padding-top: 80px ;
}

div.maintitle h1{
    font-size: 65px;
    font-family: 'Khula', sans-serif;
    font-weight: 900;
    line-height: 130%;
    margin-top: 50px;
}

div.downtitle{
    padding-left: 300px;
    padding-right: 350px;
    padding-top: 20px ;
    width: 62%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

div.downtitle p{
    font-size: 14px;
    line-height: 140%;
    opacity: 0.8;
}

button{
    width: 60%;
    height: 35px;
}

span{
    display: inline-block;
}

div.downtitle svg{
    height: 40px;
    margin-top: 50px;
}

figure.jumbo{
position: absolute;
height: 400px;
top: 50%;
left: 40%;
}

section.b{
    width: 100%;
    padding-top: 130px;
    padding-left: 370px;
}

h2{
    font-size: 35px;
}


div.businessplans{
    margin-top: 50px;
    padding-left: 5px;
}

div.input{
    display: flex;
    align-items: center;
}

input{
 transform: scale(1.5);
 margin: 5px;
}

.input span{
margin-right: 50px;
}

div.choices{
    margin-top: 40px;
    width: 20%

}

div.userskind{
    border: rgba(128, 128, 128, 0.5) solid 1px;
    border-bottom: none;
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center;

}

div.boxtypology{
}

div.typology{
    border: rgba(128, 128, 128, 0.5) solid 1px;

    height: 700px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-left:20px ;

}

svg{
    margin-right: 5px;
}


h3{
    padding-top: 30px;
    font-size: 18px;
    margin-bottom: 8px;
}

div.boxdetails{
   padding-top: 20px;

}

div.details{
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.det{
    font-size: 12px;
    padding-right: 20px;
}

div.trial{
  margin-left: 5px ;
  margin-right: 25px;
  margin-top: 30px;
}

.trial button{
    width: 100%;
    height: 30px;
}

.or{
    margin-block: 25px ;
}

.acquista{
    color: #0061ff;
}

.firsthr{
    width: 20%;
    margin-left: 5px ;
    margin-bottom: 40px;
}

.check{
    fill: #0061ff;
}

.resume{
    padding-bottom: 30px;
}

div.tails{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

div.flexcontainer{
    display: flex;
    width: 100%;
    gap: 40px;

}

div.orizontalboxup{
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgba(128, 128, 128, 0.5) solid 1px;
    border-bottom: none;
    width: 67%;
    height: 30px;
    margin-top: 40px;
}

div.orizontalboxdown{
    display: flex;

    border: rgba(128, 128, 128, 0.5) solid 1px;
    width: 67%;
    height: 200px;
}

.team{
    font-size: 12px;
    display: flex;
    align-items: center;
}

.team svg{
    scale: 1;
}

.boxdown{

width: 70%;
padding-left: 20px;
}

.contatta{
    margin-top: 10px;
}

.boxdown p{
font-size: 12px;
margin-top: 40px;
}

div.ufficio{
    display: flex;
    justify-content: center;
    width: 30%;
    padding-top: 30px;
    }

.ufficio button{
        width: 80%;
        height: 30px;
}

div.footsectionb{
    margin-right: 380px;
    display: flex;
    justify-content: flex-start;
}

.partner img{
    width: 440px;
    margin-block: 120px;
}

div.rightwritings{
    padding-top: 130px;
    padding-left: 50px;
    padding-right: 47px;
}

div.rightwritings p{
    margin-top: 20px;


}

button.trova{
    background-color: white;
    color: black;
    border: black 1px solid;
    margin-top: 30px;

}

section.c{
    width: 100%;
}

div.operationtitle{
    padding-left: 370px;
}

div.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 51%;
    margin: 0 auto;
    margin-top: 80px;
    row-gap: 50px;
}

div.singlecard{
    width: 30%;
}

figure.imgcards img{
    width: 100%;
    display: block;
    position: static;
}

div.cardsdown{
    width:100% ;
}

div.cardsdown h3{
    padding-top: 20px;
}

div.cardsdown p{
    padding-top: 20px;
}

div.scopri{
    width: 50%;
    margin-left: 370px;
    margin-top: 200px;
}

div.scopri span{
    margin-top: 50px;
    color: #0061ff;
    text-decoration: underline;
}
div.partner{
    display: flex;
    margin-top: 150px;
}

div.loghi{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
}

div.center{
    width: 100%;
    height: 500px;
}
div.logoa{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green{
    background-color: #a2d39b;
    border: #d1e9cd 15px solid;
   
}

.designit{
    width: 40px;
    height: 40px;
    filter: invert(1);
}

.amaranth{
    background-color: #61082b;
}

.arizona{
    width: 100px;
    height: 100px;
    filter: invert(1);
}

.sky{
    background-color: #0093ce;
}

.florida{
    scale: .5;
    filter: invert(1);
}

.fire{
    background-color:#ff1c1c;
}

.topps{
    scale: .3;
    filter: invert(1);
}

.red{
    background-color:#d5001f;
}

.bicycle{
    scale: .3;
    filter: invert(1);
}

.heavenly{
    background-color:#b4d0e7;
}

.hearst{
    scale: .3;
    filter: invert(1);
}

.blue{
    background-color:#0d2481;
}

.planet{
    scale: .3;
    filter: invert(1);
    transition: all .5s;
}

.planet:hover{
    scale: .5;
    transform: rotate(360deg);
    cursor: pointer;
}

.yellow{
    background-color:#ffd830;
}

.clear{
    scale: .5;
    filter: invert(1);
}

.center{
    padding-left: 30px;
    background-color:#f5f5f5 ;
    overflow: auto;
}

.center h1{
position: relative;
font-size: 60px;
word-spacing: 0px;
letter-spacing: -3px;
width: 70%;
}

.r{
    scale: .2;
    position: absolute;
    top: -13px;
    right: 80px;
}

.pwip{
   font-size: 15px;
   letter-spacing: -1px;
   padding-left: 5px; 
}

.wipro{
    font-weight:900;
    letter-spacing: -1px; 
}

hr{
    margin-block: 40px;
}

hr.wi{
    margin-left: 0px;
    opacity: 0.5;
    width: 18%;
}

.member{
    padding-right: 70px;
}

.morten{
    margin-block: 50px;
}

.lorem{
padding-right: 70px;
}

.skycont{
    width: 100%;
    height: 300px;
    background-color: #b4d0e7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.skycont h1{
font-size: 35px ;
color: #61082b;
}

.hcont{
    width: 30%;
    font-size: 35px ;
    margin-left: -70px;
}
.btncont{
  padding-bottom: 30px;  
}

#prova{
    width: 150%;
    background-color: white;
    color:rgba(0, 0, 0,.8)
}

section.g{
    padding-left: 370px;
}

div.faq{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.faq h1{
   font-size: 35px;
   margin-top: 50px;
   margin-bottom: 20px;
   
}

.faq hr{
    margin-block: -20px;
    width: 70%;
    border-top: black 1px solid;
    margin-left: -2px;
 }

.hcontainer span{
display: block;
cursor: pointer;
font-weight: 600;

}

span.hover{
    display: none;
    margin-top: 20px;
}

.hcontainer{
    height: 30px;

}

.hcontainer:hover > .hover{
    display:block;

    
}

.hcontainer:hover > span >.down{
    display:none; 
}

.hcontainer:hover > span >.up{
    display:inline-block; 
}

.down{
    margin-left: 300px;
}

.up{
    margin-left:300px;
    display: none;
}

footer{
    background-color: #000000;
}

.downbar{
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
    height: 350px;
    margin-top: 100px;
    color: white;
    
}

.listflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    line-height: 2px;

}

hr{
    opacity: 1;
    margin-left: 244px;
    width: 7%;
}

div.language{
    height: 100px;
    margin-left: 240px;

}

.language span{
 color: white;
 vertical-align: middle;
 opacity: .5;
}

.language span svg{
    color: white;
    fill: white;
    vertical-align: middle;
    padding-bottom: 2px;
    margin-inline: 6px;
   }






























